/* ********************************
Responsive */
@media (max-width: 1024px) {
    .contact-container {
        max-width: 1024px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* 
@media (max-width: 860px) {
    .contact-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
} */

@media (max-width: 768px) {
    .nav-bar {
        display: none;
    }
    .mid-banner img {
    width: 162px;
    height: 90px
    }

    .paragraph-two {
        display: none;
    }
.paragraph-three {
    display: none;
}

    .contact-us {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    h4 {
        text-align: center;
    }
}

/* ver movaswari */