* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
.header-content {
    background-color: #0020F4;
    height: 387.56px;
}

.header-container {
    display: flex;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: 'Regular';
}

.contact-li a {
    background-color: white;
    color: black;
    border-radius: 28px;
    font-family: 'Bold';
}

/* MIDDLE SECTION */

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.main-content {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "a a a a a"
    "b b b b b"
    "c c c c c"
    "d d d d d"
    "e e e e e"
    ;
}

.banner {
    grid-area: a;
    width: 1000px;
    /* max-width: 80%;  ეს არ ვიცი ჯერ მინდა თუ არა */
} 

h1 {
    grid-area: b;
}

.mid-banner {
    display: flex;
    grid-area: c;
    width: 100%;
    justify-content: space-evenly;
}

.main-paragraphs {
    max-width: 950px;
    width: 100%;
    max-height: 780px;
    height: 100%;
    font-family: 'Regular';
}

.paragraph-one {
    grid-area: d;
}

.paragraph-two {
    grid-area: d;
}

.paragraph-three {
    grid-area: d;
}

.button {
    grid-area: e;
}

/* CONTACT BOX */

.contact-box {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "f f f f f"
    "g g g g g"
    "h h h h h"
    "i i i i i";
}

h4{
    grid-area: f;
}

span{
    grid-area: g;
}

iframe {
    grid-area: h;
    width: 463px;
    height: 197px;

}

.telmail {
    grid-area: i;
}

/* CONTACT FORM */

.reg-form-box {
	display: flex;
    flex-direction: column;
    width: 500px;
}

.reg-form input, textarea{
    display: flex;
    flex-direction: column; 
    width: 463px;
    font-family: "Bold";
    border: none;
    background: none;
    border-bottom: 2px solid gray;
    margin-top: 41px;
}

.reg-form label {
	font-family: 'Bold';
	font-size: 16px;
    color: white;

}
.reg-form input:focus {
	outline: none
}

/* 2 grid for 1  */
.contact-us {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "l r"
    "l r";
}

.contact-box {
    grid-area: l;
}

.reg-form-box {
    grid-area: r;
}


