* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
.header-content {
    background-color: #0020F4;
    height: 387.56px;
}

.header-container {
    display: flex;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: 'Regular';
}

.contact-li a {
    background-color: white;
    color: black;
    border-radius: 28px;
    font-family: 'Bold';
}

/* MIDDLE SECTION */