* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
.header-content {
    background-color: #0020F4;
    height: 387.56px;
}

.header-container {
    display: flex;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: 'Regular';
}

.contact-li a {
    background-color: white;
    color: black;
    border-radius: 28px;
    font-family: 'Bold';
}

/* MIDDLE SECTION */

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    transform: translateY(-172.56px);
}

.main-content {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "a a a a a"
    "b b b b b"
    "c c c c c"
    "d d d d d"
    "e e e e e";
}

img {
    max-width: 100%;
}

mid-banner img {
    width: 600px;
    height: 645px;
    width: 100%;
    height: auto;
}

.banner {
    grid-area: a;
} 

h1 {
    grid-area: b;
    margin: 30px auto 60px 0;
}

.mid-banner {
    display: flex;
    grid-area: c;
    max-width: 1024px;
    width: 100%;
    justify-content: space-evenly;
}
.mid-banner img{
    max-width: 200px;
    width: 100%;
    height: auto;
}

.main-paragraphs {
    max-width: 950px;
    width: 100%;
    max-height: 780px;
    height: 100%;
    font-family: 'Regular';
    font-size: 16px;
}

.paragraph-one {
    grid-area: d;
    margin-top: 60px;
    margin-bottom: 18px;
}

.paragraph-two {
    grid-area: d;
    margin-bottom: 18px;
}

.paragraph-three {
    grid-area: d;
}

.button {
    grid-area: e;
}

button {
    display: flex;
    background-color: #0A22F4;
    border-radius: 28px;
    align-items: center;
    margin: 58px auto 180px auto;
    color: white;
    font-family: 'Bold';
    width: 341px;
    height: 55px;
    justify-content: center;
    border-style: none;
}

/* CONTACT-US */
    /* CONTAC-BOX */

.contact-us {
    display: grid;
    margin: 0 auto;
    max-width: 1024px;
    justify-content: space-between;
    background-color:#0A22F4; 
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "l r"
    "l r";
}

.contact-box {
    grid-area: l;
}

.reg-form-box {
    max-width: 600px;
    grid-area: r;
}

.tel-icon {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 60px;
}

.email-icon {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 60px;
}

.tel .mail img {
    width: 26px;
    height: 26px;
    justify-content: center;
    align-items: center;
}

.contact-box {
    display: grid;
    max-width: 600px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "f f f f f"
    "g g g g g"
    "h h h h h"
    "i i i i i";
}

h4{
    grid-area: f;
    font-family: 'Bold';
    color: white;
    font-size: 16px;
}

span{
    grid-area: g;
    font-family: 'Regular';
    color: white;
}

iframe {
    grid-area: h;
    width: 463px;
    height: 197px;
    box-shadow: -10px 10px #ffffff;
    border: none;
}

.telmail {
    grid-area: i;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* CONTACT FORM */
/* REG-FORM-BOX */
/* .reg-form-box {
	display: flex;
    flex-direction: column;
} */

.reg-form input, textarea{
    flex-direction: column; 
    width: 463px;
    font-family: "Bold";
    border: none;
    background: none;
    border-bottom: 2px solid gray;
    margin-top: 41px;
}

.reg-form label {
	font-family: 'Bold';
	font-size: 16px;
    color: white;

}
.reg-form input:focus {
	outline: none
}
.reg-form button {
    background-color: white;
    width: 151px;
    height: 55px;
    border-radius: 28px;
    color: black;
}

/* FOOTER */

footer {
    transform: translateY(-172.56px);
    color: white;
    background-color: #0A22F4;
    font-family: 'Bold';
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* width: 350px; */
    /* align-items: center; */
    /* top: 850px;
    right: 0px; */
    
}

.flex{
    max-width: 1024px;
    display: flex;
}

.rights .made-by div {
    border-top: 1px gray;
}

.contact-container {
    transform: translateY(-172.56px);
    background-color: #0A22F4;
    max-height: 1080px;
}
